# Block access to some (potentially) sensitive files.
# Note: if apache gives you an "order not allowed here" error,
# please make sure that your apache configuration contains
# "AllowOverride Limit" for this directory, i.e. something
# like the following:
#
# <Directory /home/*/public_html>
#     AllowOverride Options Indexes FileInfo Limit
#     [...]
# </Directory>
#
# (See also http://brat.nlplab.org/troubleshooting.html)
<FilesMatch "^(\.htaccess|config\.py)$">
    Order allow,deny
    Deny from all
</FilesMatch>

Options +ExecCGI +FollowSymLinks
DirectoryIndex index.xhtml

# When using FastCGI, uncomment the following three lines and replace
# "INSTALLATION-ROOT" with the URL path of the application.
# For example, if the URL to the application is
# "http://www.example.com/~user/visualizer/",
# "INSTALLATION-ROOT" should be replaced with "/~user/visualizer/"
#
#RewriteEngine On
#RewriteBase INSTALLATION-ROOT
#RewriteRule ajax\.cgi$ ajax.fcgi
