html {
  overflow-y: scroll;
}

svg {
  font-size: 14px;
  width: 100%;
  height: 1px;
  border: 1px solid #484;
}

  svg .span text {
    font-size: 80%;
    text-anchor: middle;
    font-family: Century Gothic, sans-serif;
  }

  svg .span rect {
    stroke: black;
    pointer-events: visibleFill;
  }

  svg .span path {
    fill: none;
    stroke: grey;
  }

  svg .span path.negation {
    stroke: black;
    opacity: 0.5;
  }

  svg .arcs path {
    fill: none;
    opacity: 0.5;
  }

  svg .arcs .highlight path {
    stroke-width: 2;
  }

  svg .arcs text {
    text-anchor: middle;
    font-size: 80%;
    dominant-baseline: central;
  }

.span_default {
  fill: #7fd67f;
}

.span_Protein {
  fill: #7fa2ff;
}

.span_Positive_regulation {
  fill: #ccffcc;
}

.span_Negative_regulation {
  fill: #ffcccc;
}

.span_Regulation {
  fill: #cccccc;
}

.span_Transcription {
  fill: #ccccff;
}

.span_Expression {
  fill: #ffccff;
}

.span_Binding {
  fill: #99ccff;
}

.span_Entity {
  fill: #b4c8ff;
}

.span_Gene_expression {
  fill: #cc99ff;
}

.span_Process {
  fill: #99ffcc;
}

.span_Two-component-system {
  fill: #9999ff;
}

.fill_Cause {
  fill: #ff0000;
}
.stroke_Cause {
  stroke: #ff0000;
}

.fill_Theme {
  fill: #000088;
}
.stroke_Theme {
  stroke: #000088;
}
.fill_Theme1 {
  fill: #222288;
}
.stroke_Theme1 {
  stroke: #222288;
}
.fill_Theme2 {
  fill: #444488;
}
.stroke_Theme2 {
  stroke: #444488;
}

.fill_Site {
  fill: #008800;
}
.stroke_Site {
  stroke: #008800;
}
.fill_Site1 {
  fill: #228822;
}
.stroke_Site1 {
  stroke: #228822;
}
.fill_Site2 {
  fill: #448844;
}
.stroke_Site2 {
  stroke: #448844;
}
.fill_CSite {
  /* TODO */
}
.stroke_CSite {
  /* TODO */
}

.fill_Contextgene {
  fill: #303030;
}
.stroke_Contextgene {
  stroke: #303030;
}

.fill_Sidechain {
  fill: #303030;
}
.stroke_Sidechain {
  stroke: #303030;
}

svg {
  pointer-events: none;
  font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
}
