html {
  overflow-y: scroll;
  font-family: 'Century Gothic', sans-serif;
  font-size: 12px;
}

svg {
  font-size: 14px;
  width: 100%;
  height: 1px;
  border: 1px solid #484;
  font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
}

  svg .span text {
    font-size: 75%;
    text-anchor: middle;
    font-family: 'Century Gothic', sans-serif;
    pointer-events: none;
  }

  svg .span rect {
    stroke: black;
    stroke-width: 0.75;
    pointer-events: visibleFill;
  }

  svg .span path {
    fill: none;
    stroke: grey;
  }

  svg .span path.negation {
    stroke: black;
    opacity: 0.5;
  }

  svg .arcs path {
    fill: none;
    opacity: 0.5;
  }

  svg .arcs .highlight path {
    stroke-width: 2;
    opacity: 1;
  }
  svg .arcs .highlight text {
    stroke: black;
    fill: black;
  }
  svg .span.highlight rect {
    stroke-width: 2px;
  }
  svg .span.highlight {
    stroke: black;
  }

  svg .arcs text {
    text-anchor: middle;
    font-size: 80%;
    dominant-baseline: central;
    pointer-events: none;
  }

  svg .background0 {
    stroke: none;
    fill: #ffffff;
  }

  svg .background1 {
    stroke: none;
    fill: #eeeeee;
  }

.background_entity {
  fill: #eeeeff;
}

.background_trigger {
  fill: #eeffee;
}

.span_default {
  fill: #7fd67f;
}

.span_Protein {
  fill: #7fa2ff;
}

.span_Positive_regulation {
  fill: #ccffcc;
}

.span_Negative_regulation {
  fill: #ff9999;
}

.span_Regulation {
  fill: #dddddd;
}

.span_Expression {
  fill: #ffccff;
}

.span_Binding {
  fill: #6fb66f;
}

.span_Entity {
  fill: #b4c8ff;
}

.span_Process {
  fill: #99ffcc;
}

.span_Two-component-system {
  fill: #9999ff;
}

.fill_Cause {
  fill: #ff0000;
}
.stroke_Cause {
  stroke: #ff0000;
}
.fill_Cause1 {
  fill: #ff0000;
}
.stroke_Cause1 {
  stroke: #ff0000;
}
.fill_Cause2 {
  fill: #ff0000;
}
.stroke_Cause2 {
  stroke: #ff0000;
}
.fill_Cause3 {
  fill: #ff0000;
}
.stroke_Cause3 {
  stroke: #ff0000;
}

.fill_Theme    { fill:   #000088; }
.stroke_Theme  { stroke: #000088; }
.fill_Theme1   { fill:   #000088; }
.stroke_Theme1 { stroke: #000088; }
.fill_Theme2   { fill:   #000088; }
.stroke_Theme2 { stroke: #000088; }
.fill_Theme3   { fill:   #000088; }
.stroke_Theme3 { stroke: #000088; }
.fill_Theme4   { fill:   #000088; }
.stroke_Theme4 { stroke: #000088; }

.fill_Site     { fill:   #008800; }
.stroke_Site   { stroke: #008800; }
.fill_Site1    { fill:   #008800; }
.stroke_Site1  { stroke: #008800; }
.fill_Site2    { fill:   #008800; }
.stroke_Site2  { stroke: #008800; }

.fill_CSite {
  /* TODO */
  fill: purple;
  stroke: purple;
}
.stroke_CSite {
  /* TODO */
  stroke: purple;
  stroke-width: 2px;
}
.fill_ToLoc {
  /* TODO */
  fill: purple;
}
.stroke_ToLoc {
  /* TODO */
  stroke: purple;
}
.fill_AtLoc {
  /* TODO */
  fill: purple;
}
.stroke_AtLoc {
  /* TODO */
  stroke: purple;
}

.fill_Contextgene {
  fill: #303030;
}
.stroke_Contextgene {
  stroke: #303030;
}

.fill_Sidechain {
  fill: #303030;
}
.stroke_Sidechain {
  stroke: #303030;
}

.fill_Equiv {
  fill: black; /* TODO */
}
.stroke_Equiv {
  stroke: black; /* TODO */
}


#span_form {
  position: fixed;
  background-color: #cccccc;
  border: 2px outset #999999;
  left: 50px;
  top: 50px;
  height: auto;
  right: 50px;
  padding: 5px 10px;
  z-index: 10;
  display: none;
}
#span_form_buttons {
  text-align: right;
}
#span_free_div {
  float: left;
}
fieldset {
  border: 1px solid #999999;
}

.shadow {
  -moz-box-shadow: 5px 5px 5px #cccccc;
  -webkit-box-shadow: 5px 5px 5px #cccccc;
  box-shadow: 5px 5px 5px #cccccc;
}

#span_selected {
  font-weight: bold;
}
