/* -*- Mode: CSS; tab-width: 2; indent-tabs-mode: nil; -*- */
/* vim:set ft=css ts=2 sw=2 sts=2 autoindent: */

html {
  overflow-y: scroll;
}

#svg {
  margin: 34px auto 100px;
}

.center_wrapper {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.center_wrapper > div {
  display: table-cell;
  vertical-align: middle;
}
.center_wrapper > div > div {
  /* match jQuery UI .ui-widget-content color */
  color: #2e6e9e;
  margin-left: auto;
  margin-right: auto;
  width: 30em;
  font-size: 12px;
  font-family: 'Liberation Sans', Verdana, Arial, Helvetica, sans-serif;
}
.center_wrapper > div > div h1 {
  text-align: center;
  font-size: 14px;
}
#no_svg_wrapper {
  display: none;
}

svg {
  width: 100%;
  height: 1px;
  border: 1px solid #7fa2ff;
  font-size: 15px;
  /* font-size: 14px; */
}
svg.reselect {
  border: 1px solid #ff3333;
}

/* alternative font test */
/*
text {
  font-size: 13px;
  font-family: helvetica,arial,freesans,clean,sans-serif;
}
*/

/* "basic" font */
text {
  font-size: 13px;
  font-family: 'Liberation Sans', Verdana, Arial, Helvetica, sans-serif;
}

#navbuttons * {
  vertical-align: middle;
  padding: 2px 5px;
}
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  -moz-box-shadow: 5px 5px 5px #999999;
  -webkit-box-shadow: 5px 5px 5px #999999;
  box-shadow: 5px 5px 5px #999999;
}
#mainHeader {
  font-size: 120%;
  overflow: hidden;
  white-space: nowrap;
}
@-webkit-keyframes pulse {
  0% { color: #9999ff; margin-top: 0; }
  50% { color: #ffffff; margin-top: 7px; }
  100% { color: #9999ff; margin-top: 0; }
}
#pulldown {
  display: none;
  font-size: 80%;
}
#pulldown_padder {
  padding: 10px;
}
#pulldown div + div {
  margin-top: 10px;
}
#auth_button {
  float: right;
}
#options_button {
  float: right;
}

path {
  pointer-events: none;
}

/* alternative font test */
/*
.span text {
  font-size: 10.5px;
  font-family: helvetica,arial,freesans,clean,sans-serif;
  text-anchor: middle;
  pointer-events: none;
}
*/

/* "basic" font */
.span text {
  /*  font-size: 10.5px; */
  font-size: 10px;
  text-anchor: middle;
  /* font-family: Ubuntu, sans-serif; */
  font-family: 'PT Sans Caption', sans-serif;
  /* font-family: 'Anonymous Pro', monospace; */
  pointer-events: none;
}

/* this should likely match span font */
.span_type_label {
  font-size: 11px;
  font-family: 'PT Sans Caption', sans-serif;
}
/* this should likely match arc font */
.arc_type_label {
  font-size: 11px;
  font-family: 'PT Sans Caption', sans-serif;
}
.attribute_type_label .ui-button-text {
  font-size: 11px;
  font-family: 'PT Sans Caption', sans-serif;
}

.span rect {
  stroke-width: 0.75;
}

.glyph {
  fill: #444444;
  font-family: sans-serif;
  font-weight: bold;
}
.attribute_warning {
  stroke: red;
}

.span rect.False_positive {
  stroke: #ff4141;
  stroke-width: 2;
}

.shadow_False_positive {
  fill: #ff4141;
}

#commentpopup.comment_False_positive {
  background-color: #ff4141;
}

.span rect.False_negative {
  stroke: #c20000;
  fill: #ffffff;
  stroke-width: 2;
}

.shadow_False_negative {
  fill: #c20000;
}

#commentpopup.comment_False_negative {
  background-color: #c20000;
}

.span rect.AnnotationError {
  stroke-width: 1;
}

.shadow_AnnotationError {
  fill: #ff0000;
}

#commentpopup.comment_AnnotationError {
  background-color: #ff7777;
}

.span rect.AnnotationWarning {
  stroke-width: 1;
}

.shadow_AnnotationWarning {
  fill: #ff8800;
}

#commentpopup.comment_AnnotationWarning {
  background-color: #ff9900;
}

.shadow_AnnotatorNotes {
  /* fill: #00cc00; */
  fill: #3ab7ee;
}
#commentpopup.comment_AnnotatorNotes {
  /* background-color: #00cc00; */
  /* background-color: #DAF7DC; */
  background-color: #d7e7ee;
}

.shadow_AnnotationIncomplete {
  fill: #aaaaaa;
}
.span rect.AnnotationIncomplete {
  stroke: #002200;
  stroke-width: 0.5;
  fill: #ffffff;
}
#commentpopup.comment_AnnotationIncomplete {
  background-color: #ffff77;
}

.shadow_AnnotationUnconfirmed {
  fill: #eeeeee;
}
.span rect.AnnotationUnconfirmed {
  stroke: #002200;
  stroke-width: 0.5;
  opacity : 0.5;
}
#commentpopup.comment_AnnotationUnconfirmed {
  background-color: #ddddff;
}

.span rect.True_positive {
  /* stroke: #007700; */
}

rect.shadow_EditHighlight {
  fill: #ffff99;
}
.shadow_EditHighlight_arc {
  stroke: #ffff99;
}

.span path {
  fill: none;
}

.span path.curly {
  /* 'stroke' def here blocks 'stroke' set in JS..? */
  /* stroke: grey; */
  stroke-width: 0.5;
}

.span path.boxcross {
  stroke: black;
  opacity: 0.5;
}

.arcs path {
  stroke: #989898;
  fill: none;
  stroke-width: 1;
}

.arcs .highlight path {
  stroke: #000000;
  stroke-width: 1.5;
  opacity: 1;
}
.arcs .highlight text {
  stroke: black;
  fill: black;
  stroke-width: 0.5;
}
.span.highlight rect {
  stroke-width: 2px;
}
.span rect.reselect {
  stroke-width: 2px;
}
.span rect.reselectTarget {
  stroke-width: 2px;
}
.arcs .reselect path {
  stroke-width: 2px;
  stroke: #ff0000 !important;
}
.arcs .reselect text {
  fill: #ff0000 !important;
}

.span rect.badTarget {
  stroke: #f00;
}

.arcs text {
  font-size: 9px;
  text-anchor: middle;
  /* font-family: Ubuntu, sans-serif; */
  font-family: 'PT Sans Caption', sans-serif;
  /* font-family: 'Anonymous Pro', monospace; */
  /* dominant-baseline: central; */
  cursor: default;
}

.background0 {
  stroke: none;
  fill: #ffffff;
}

.background1 {
  stroke: none;
  fill: #eeeeee;
}

.backgroundHighlight {
  stroke: none;
  fill: #ffff99;
}

.sentnum text {
  fill: #999999;
  text-anchor: end;
}

.sentnum path {
  stroke: #999999;
  stroke-width: 1px;
}

.span_cue {
  fill: #eeeeee !important;
}

.drag_stroke {
  stroke: black;
}
.drag_fill {
  fill: black;
}


.dialog {
  display: none;
}
#span_free_div, #arc_free_div {
  float: left;
}
fieldset {
  /* match relevant parts of jQuery UI .ui-widget-content */
  border: 1px solid #a6c9e2;
  /* round corners, same as jQuery UI .ui-corner-all */
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  /* to prevent border from running into legend */
  margin-top: 5px;
}
fieldset legend {
  font-weight: bold;
  font-size: 90%;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #70a8d2;
  color: white;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.label-like {
   /* for UI consistency, this should match the "fieldset legend" style;
      sorry about the duplication. */
  font-family: monospace;
  font-weight: bold;
  font-size: 90%;
  /* match jQuery UI .ui-widget-content color */
  color: #2e6e9e;
}   

.accesskey {
  text-decoration: underline;
}


.shadow {
  -moz-box-shadow: 5px 5px 5px #444444;
  -webkit-box-shadow: 5px 5px 5px #444444;
  box-shadow: 5px 5px 5px #444444;
}

#span_selected, #arc_origin, #arc_target {
  font-weight: bold;
}

#pulluptrigger {
  height: 35px;
  width:  35px;
  position: fixed;
  bottom: 0;
  left: 0;
  background: url('static/img/Fugue-shadowless-information-balloon.png') center no-repeat;
}
#messagepullup {
  max-height: 300px;
  overflow-y: scroll; /* or 'auto' */
  background-color: #ffffff;
  background-color: rgba(255,255,255,0.75);
  z-index: 20001;
}
#messages {
  z-index: 20004;
}
#pulluptrigger {
  z-index: 20003;
}
.messages {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.messages > div {
  padding: 5px;
  margin: 2px 5px;
  border: 1px outset #000000;
}

.messages > div.error {
  background-color: #FF9696;
  font-weight: bold;
  color: #000000;
}
.messages > div.warning {
  background-color: #FFE2A3;
  font-weight: bold;
  color: #000000;
}
.messages > div.comment {
  background-color: #87b6d9;
  color: #ffffff;
  font-weight: bold;
  border: 1px outset #27628F;
}
.messages > div.debug {
  background-color: #ffff99;
  color: #000000;
}

.messages > div > input {
  float: right;
  display: block;
}

#commentpopup {
  font-family: 'Liberation Sans', Verdana, Arial, Helvetica, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.9;
  padding: 10px;
  display: none;
  border: 1px outset #000000;
  background-color: #d7e7ee;
  /* background-color: #eeeeee; */
  color: #000000;
  z-index: 20;
  -moz-box-shadow: 5px 5px 5px #aaaaaa;
  -webkit-box-shadow: 5px 5px 5px #aaaaaa;
  box-shadow: 5px 5px 5px #aaaaaa;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
#more_info_readme {
  height: 350px;
}
#readme_container {
  position: relative;
}
#more_readme_button {                   
  padding: 2px 5px;
  position: absolute;
  top: -2px;
  right: -2px;
}

#notes_container {
  position: relative;
}
#clear_notes_button {                   
  padding: 2px 5px;
  position: absolute;
  top: -2px;
  right: -2px;
}

.comment_id {
  vertical-align: top;
  float:right;
  font-size: 75%;
  font-family: monospace;
  color: #333333;
}
.comment_type {
  /* font-weight: bold; */
}
.comment_text {
  font-weight: bold;
}
.comment_type_id_wrapper {
  /* padding for floating ID */
  padding-right: 2em;
}

#span_form .collapser {
    float: left;
    height: 16px;
    width: 16px;
    margin-top: 3px;
    cursor: hand;
    background: url('static/img/expand_icon.gif') no-repeat;
}
#span_form .collapser.open {
    background: url('static/img/collapse_icon.gif') no-repeat;
}
#span_form .collapsible.open {
    display: block;
}
#span_form .collapsible {
    display: none;
}
#span_form .item_content {
    margin-left: 16px;
    white-space: nowrap;
}
#span_form .collapsible {
    margin-left: 20px;
}
.type_scroller { /* TODO remove */
    overflow-y: scroll;
    min-height: 50px;
    max-height: 300px;
}

/* BEGIN new entity and event dialog style */
.split_wrapper {
  height: 300px;
  /* HACK tweaking to avoid overflows. */
  padding-bottom: 2.5em;
  /* end HACK */
}
.split_wrapper div.wrapper_full_width {
  width: 100%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  float: left;
}
.split_wrapper div.wrapper_half_left {
  /* a bit less than 50% to avoid scrollbar overflows */
  width: 49%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  float: left;
}
.split_wrapper div.wrapper_half_right {
  /* a bit less than 50% to avoid scrollbar overflows */
  width: 49%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  float: right;
}
.split_wrapper div.scroll_wrapper_upper {
  width: 100%;
  height: 85%;
  display: inline-block;
  vertical-align: top;
}
.split_wrapper div.scroll_wrapper_lower {
  width: 100%;
  height: 15%;
  display: inline-block;
  vertical-align: bottom;
}
.wrapper_lower_label {
  margin-top: 0.5em;
}
div.scroll_wrapper_lower div {
 padding-top: 0.5em;
}
.split_wrapper div.scroll_wrapper_full {
  width: 100%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
}
.split_wrapper fieldset {
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}
.split_wrapper div.scroller {
  overflow: auto;
  width: 100%;
  height: 100%;
  border-style: inset inset none none;
  border-width: 1px;
}
div.scroll_wrapper_upper div.scroller {
  border-style: inset inset inset none;
}
/* special-case visual tweak; not sure why this is necessary */
#span_search_fieldset {
  margin-bottom: 0.5em;
} 
/* END new entity and event dialog style */

#search_form select {
  width: 100%; /* deal with overflowing selectboxes */
}

.scroll_fset {
  height: 200px;
}
.scroll_fset fieldset {
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}
/* HACK to display <legend> properly */
  .scroll_fset {
    margin-bottom: 2.5em;
  }
  .scroll_fset fieldset {
    padding-bottom: 2em;
  }
/* end HACK */
.scroll_fset div.scroller {
  overflow: auto;
  width: 100%;
  height: 100%;
}

.small-buttons .ui-button-text {
  padding: 2px 5px;
}

#span_highlight_link, #arc_highlight_link, #viewspan_highlight_link {
  float: right;
}
#document_ctime, #document_mtime {
  vertical-align: bottom;                 
  padding: 0 5px;
  float: left;
}
#help_link {
  padding-right: 0.5em;
  color: darkgray;
  vertical-align: center;
  float: right;
}
.document_edit_time {
  font-family: monospace;
  color: #777;
}
#menu_explanation {
  margin-left: 10px;
  display: inline-block;
  overflow: hidden;
}
#document_name {
  margin-right: 100px;
}
#document_name input {
  width: 100%;
  border: none;
}

/*
#logo {
  float:right;
  margin-left: 20px;
  background-color: #ffffff;
  padding: 0 0 0 2px;
}
*/

.logo {
  font-family: 'Astloch', serif;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
  letter-spacing: 0em;
  word-spacing: 0em;
  line-height: 1.2;

  font-weight: bold;
}

#mainlogo {
  font-size: 1.2em;
  float: right;
  cursor: pointer;
  text-shadow: #000000 0 0 3px;
  padding: 0 10px 0 20px;
}

#aboutlogo {
  font-size: 42px;
  text-align: center;
  text-shadow: #888888 0 0 10px;
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

#copyright {
  margin-top: 10px;
  font-size: 60%;
}

#logo:hover {
  opacity: 0.8;
}

#spinner {
  display: none;
  position: fixed;
  right:10px;
  top: 55px;
}

#document_select {
  height: 200px;
  display: inline-block;
  border: 2px inset;
  background-color: #ffffff;
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
  overflow: scroll;
}
#document_select thead tr * {
  padding: 2px 5px;
}
#document_select tbody tr * {
  padding: 0 5px;
}
#document_select tr {
  cursor: pointer;
}
#document_select tr * {
  white-space: nowrap;
}
#document_select tr.selected {
  background-color: #cccccc;
}
#document_select img {
  width: 16px;
  height: 16px;
}
#collection_browser th {
  font-weight: normal;
  text-align: left;
}
#readme {
  width: 100%;
  height: 20px;
  overflow: auto;
}

#import_text {
  font-family: inherit;
}
#export_page div {
  margin: 5px 5px 5px 5px;
  font-size: 14px;
}
#export_page table {
  border-collapse: collapse;
  border: 1px solid #cccccc;
}
#export_page td, #export_page th {
  padding: 2px 5px;
  text-align: left;
}
#export_page tr.background0 {
  background-color: #eeeeee;
}
#export_page tr.background1 {
  background-color: #dddddd;
}
.optionRow {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.optionLabel {
  display: inline-block;
  width: 8em;
}
#advanced_search_option_toggle {
  float: right;                      
  font-size: 80%;
  color: gray;
}

#browserwarning {
  background-color: #ffcccc;
  padding: 10px;
  display: none;
}
.ui-icon-gripsmall-diagonal-se {
  margin: 0 -3px -3px 0;
}
.ui-dialog {
  position: fixed;
}

.file {
  color: #333366;
}
.collection {
  color: #336633;
}
.rightalign {
  text-align: right;
}
.centeralign {
  text-align: center;
}

.dialog .borderless {
  outline: 0;
  border: 0;
  width: 100%;
}
.fullwidth {
  width: 100%;
}

#waiter {
  text-align: center;
}
#waiter img {
  margin-top: 25px;
}
.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -o-user-select: none;
   user-select: none;
   cursor: default;
}
@font-face {
  font-family: 'Liberation Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Liberation Sans'), local('Liberation-Sans'), url('static/fonts/Liberation_Sans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Astloch';
  font-style: normal;
  font-weight: bold;
  src: local('Astloch Bold'), local('Astloch-Bold'), url('static/fonts/Astloch-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'PT Sans Caption';
  font-style: normal;
  font-weight: normal;
  src: local('PT Sans Caption'), local('PTSans-Caption'), url('static/fonts/PT_Sans-Caption-Web-Regular.ttf') format('truetype');
}

/* Apple iPad, iPhone, iPod */

* {
   -webkit-tap-highlight-color: rgba(0,0,0,0);
   -webkit-text-size-adjust: none;
   select: none;
}
