/* -*- Mode: CSS; tab-width: 2; indent-tabs-mode: nil; -*- */
/* vim:set ft=css ts=2 sw=2 sts=2 autoindent: */

html {
  overflow-y: scroll;
}

#svg {
  margin-top: 34px;
  margin-bottom: 100px;
}

svg {
  width: 100%;
  height: 1px;
  border: 1px solid #7fa2ff;
  font-size: 15px;
  /* font-size: 14px; */
}
svg.reselect {
  border: 1px solid #ff3333;
}

/* alternative font test */
/*
text {
  font-size: 13px;
  font-family: helvetica,arial,freesans,clean,sans-serif;
}
*/

/* "basic" font */
text {
  font-size: 13px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  -moz-box-shadow: 5px 5px 5px #999999;
  -webkit-box-shadow: 5px 5px 5px #999999;
  box-shadow: 5px 5px 5px #999999;
}
#mainHeader {
  font-size: 100%;
  overflow: hidden;
  white-space: nowrap;
}
@-webkit-keyframes pulse {
  0% { color: #9999ff; margin-top: 0; }
  50% { color: #ffffff; margin-top: 7px; }
  100% { color: #9999ff; margin-top: 0; }
}
#pulldownArrow {
  float: left;
  padding: 0 5px;
  -webkit-animation: pulse 2s ease-in-out infinite;
}
#pulldown {
  display: none;
  font-size: 80%;
}
#pulldown_padder {
  padding: 10px;
}
#pulldown div + div {
  margin-top: 10px;
}
#auth_button {
  float: right;
}

path {
  pointer-events: none;
}

/* alternative font test */
/*
.span text {
  font-size: 10.5px;
  font-family: helvetica,arial,freesans,clean,sans-serif;
  text-anchor: middle;
  pointer-events: none;
}
*/

/* "basic" font */
.span text {
  font-size: 10px;
  /* font-size: 9px; */
  text-anchor: middle;
  font-family: 'PT Sans Caption', sans-serif;
  /* font-family: 'Anonymous Pro', monospace; */
  pointer-events: none;
}

.span rect {
  stroke-width: 0.75;
}

.glyph {
  fill: #444444;
  font-family: sans-serif;
  font-weight: bold;
}
.attribute_warning {
  stroke: red;
}

.span rect.False_positive {
  stroke: #ff4141;
  stroke-width: 2;
}

.shadow_False_positive {
  fill: #ff4141;
}

#commentpopup.comment_False_positive {
  background-color: #ff4141;
}

.span rect.False_negative {
  stroke: #c20000;
  fill: #ffffff;
  stroke-width: 2;
}

.shadow_False_negative {
  fill: #c20000;
}

#commentpopup.comment_False_negative {
  background-color: #c20000;
}

.span rect.AnnotationError {
  stroke-width: 1;
}

.shadow_AnnotationError {
  fill: #ff0000;
}

#commentpopup.comment_AnnotationError {
  background-color: #ff7777;
}

.span rect.AnnotationWarning {
  stroke-width: 1;
}

.shadow_AnnotationWarning {
  fill: #ff8800;
}

#commentpopup.comment_AnnotationWarning {
  background-color: #ff9900;
}

.shadow_AnnotatorNotes {
  fill: #00cc00;
}
#commentpopup.comment_AnnotatorNotes {
  background-color: #00cc00;
}

.shadow_AnnotationIncomplete {
  fill: #aaaaaa;
}
.span rect.AnnotationIncomplete {
  stroke: #002200;
  stroke-width: 0.5;
  fill: #ffffff;
}
#commentpopup.comment_AnnotationIncomplete {
  background-color: #ffff77;
}

.shadow_AnnotationUnconfirmed {
  fill: #eeeeee;
}
.span rect.AnnotationUnconfirmed {
  stroke: #002200;
  stroke-width: 0.5;
  opacity : 0.5;
}
#commentpopup.comment_AnnotationUnconfirmed {
  background-color: #ddddff;
}

.span rect.True_positive {
  /* stroke: #007700; */
}

rect.shadow_EditHighlight {
  fill: #ffff99;
}
.shadow_EditHighlight_arc {
  stroke: #ffff99;
}

.blur {
  filter: url(#Gaussian_Blur);
}

.span path {
  fill: none;
  stroke: grey;
}

.span path.boxcross {
  stroke: black;
  opacity: 0.5;
}

.arcs path {
  stroke: #989898;
  fill: none;
  stroke-width: 1;
}

.arcs .highlight path {
  stroke: #000000;
  stroke-width: 1.5;
  opacity: 1;
}
.arcs .highlight text {
  stroke: black;
  fill: black;
  stroke-width: 0.5;
}
.span.highlight rect {
  stroke-width: 2px;
}

.arcs text {
  font-size: 9px;
  text-anchor: middle;
  font-family: 'PT Sans Caption', sans-serif;
  /* font-family: 'Anonymous Pro', monospace; */
  dominant-baseline: central;
  cursor: default;
}

.background0 {
  stroke: none;
  fill: #ffffff;
}

.background1 {
  stroke: none;
  fill: #eeeeee;
}

.backgroundHighlight {
  stroke: none;
  fill: #ffff99;
}

.sentnum text {
  fill: #999999;
  text-anchor: end;
}

.sentnum path {
  stroke: #999999;
  stroke-width: 1px;
}

.span_cue {
  fill: #eeeeee !important;
}

.drag_stroke {
  stroke: black;
}
.drag_fill {
  fill: black;
}


.dialog {
  display: none;
}
#span_free_div, #arc_free_div {
  float: left;
}
fieldset {
  border: 1px solid #999999;
}
.accesskey {
  text-decoration: underline;
}


.shadow {
  -moz-box-shadow: 5px 5px 5px #444444;
  -webkit-box-shadow: 5px 5px 5px #444444;
  box-shadow: 5px 5px 5px #444444;
}

#span_selected, #arc_origin, #arc_target {
  font-weight: bold;
}

#messages {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
#messages > div {
  padding: 10px;
  border: 1px outset #000000;
}

#messages > div.error {
  background-color: #ff6666;
  color: #000000;
}
#messages > div.warning {
  background-color: #ff8800;
  color: #000000;
}
#messages > div.comment {
  background-color: #66ff66;
  color: #000000;
}
#messages > div.debug {
  background-color: #ffff99;
  color: #000000;
}

#messages > div > input {
  float: right;
  display: block;
}

#commentpopup {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.8;
  padding: 10px;
  display: none;
  border: 1px outset #000000;
  background-color: #eeeeee;
  color: #000000;
  z-index: 20;
  -moz-box-shadow: 5px 5px 5px #aaaaaa;
  -webkit-box-shadow: 5px 5px 5px #aaaaaa;
  box-shadow: 5px 5px 5px #aaaaaa;
}

.comment_id {
  font-weight: bold;
}
.comment_type {
  font-weight: bold;
}

#span_form .collapser {
    float: left;
    height: 16px;
    width: 16px;
    margin-top: 3px;
    cursor: hand;
    background: url('static/img/expand_icon.gif') no-repeat;
}
#span_form .collapser.open {
    background: url('static/img/collapse_icon.gif') no-repeat;
}
#span_form .collapsible.open {
    display: block;
}
#span_form .collapsible {
    display: none;
}
#span_form .item_content {
    margin-left: 16px;
}
#span_form .collapsible {
    margin-left: 20px;
}
.type_scroller { /* TODO remove */
    overflow-y: scroll;
    min-height: 50px;
    max-height: 300px;
}


/* XXX preparation for generated span form later */
.scroll_fset {
  height: 200px;
}
#span_types.scroll_fset div.scroll_wrapper_half {
  width: 50%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
}
#span_types.scroll_fset div.scroll_wrapper_full {
  width: 100%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
}
.scroll_fset fieldset {
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* HACK to display <legend> properly */
  .scroll_fset {
    margin-bottom: 2.5em;
  }
  .scroll_fset fieldset {
    padding-bottom: 2em;
  }
/* end HACK */
.scroll_fset div.scroller {
  overflow: auto;
  width: 100%;
  height: 100%;
}

#span_attributes {
  height: 87px;
}

#span_highlight_link, #arc_highlight_link, #viewspan_highlight_link {
  float: right;
}
/*
#document_ctime, #document_mtime {
  padding: 0 2px;
  REMOVEbackground-color: #dddddd;
  REMOVEborder: 1px solid #999999;
  opacity: 0.5;
  float: right;
}
*/
#menu_explanation {
  margin-left: 10px;
  display: inline-block;
  overflow: hidden;
}
#document_name {
  margin-right: 100px;
}
#document_name input {
  width: 100%;
  border: none;
}

/*
#logo {
  float:right;
  margin-left: 20px;
  background-color: #ffffff;
  padding: 0 0 0 2px;
}
*/

.logo {
  font-family: 'Astloch', serif;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
  letter-spacing: 0em;
  word-spacing: 0em;
  line-height: 1.2;

  font-weight: bold;
}

#mainlogo {
  font-size: 1.2em;
  float: right;
  cursor: pointer;
  text-shadow: #000000 0 0 3px;
  padding: 0 10px 0 20px;
}

#aboutlogo {
  font-size: 42px;
  text-align: center;
  text-shadow: #888888 0 0 10px;
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

#copyright {
  margin-top: 10px;
  font-size: 60%;
}

#logo:hover {
  opacity: 0.8;
}

#spinner {
  display: none;
  position: fixed;
  right:10px;
  top: 55px;
}

#document_select {
  height: 200px;
  display: inline-block;
  border: 2px inset;
  background-color: #ffffff;
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
  overflow: scroll;
}
#document_select thead tr * {
  padding: 2px 5px;
}
#document_select tbody tr * {
  padding: 0 5px;
}
#document_select tr {
  cursor: pointer;
}
#document_select tr * {
  white-space: nowrap;
}
#document_select tr.selected {
  background-color: #cccccc;
}
#collection_browser th {
  font-weight: normal;
  text-align: left;
}
#import_text {
  font-family: inherit;
}
#export_page div {
  margin: 5px 5px 5px 5px;
  font-size: 14px;
}
#export_page table {
  border-collapse: collapse;
  border: 1px solid #cccccc;
}
#export_page td, #export_page th {
  padding: 2px 5px;
  text-align: left;
}
#export_page tr.background0 {
  background-color: #eeeeee;
}
#export_page tr.background1 {
  background-color: #dddddd;
}
.ui-icon-gripsmall-diagonal-se {
  margin: 0 -3px -3px 0;
}
.ui-dialog {
  position: fixed;
}

.file {
  color: #333366;
}
.dir {
  color: #336633;
}
.rightalign {
  text-align: right;
}

.dialog .borderless {
  outline: 0;
  border: 0;
  width: 100%;
}
.fullwidth {
  width: 100%;
}

#waiter {
  text-align: center;
}
#waiter img {
  margin-top: 25px;
}
.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -o-user-select: none;
   user-select: none;
   cursor: default;
}
@font-face {
  font-family: 'Astloch';
  font-style: normal;
  font-weight: bold;
  src: local('Astloch Bold'), local('Astloch-Bold'), url('static/fonts/Astloch-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Astloch';
  font-style: normal;
  font-weight: normal;
  src: local('Astloch'), url('static/fonts/Astloch-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Allerta';
  font-style: normal;
  font-weight: normal;
  src: local('Allerta'), url('static/fonts/Allerta-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'PT Sans Caption';
  font-style: normal;
  font-weight: normal;
  src: local('PT Sans Caption'), local('PTSans-Caption'), url('static/fonts/PT_Sans-Caption-Web-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'PT Sans Caption';
  font-style: normal;
  font-weight: bold;
  src: local('PT Sans Caption Bold'), local('PTSans-CaptionBold'), url('static/fonts/PT_Sans-Caption-Web-Bold.ttf') format('truetype');
}
