/* -*- Mode: CSS; tab-width: 2; indent-tabs-mode: nil; -*- */
/* vim:set ft=css ts=2 sw=2 sts=2 autoindent: */

html {
  overflow-y: scroll;
}

#svg {
  margin-top: 34px;
  margin-bottom: 100px;
}

svg {
  width: 100%;
  height: 1px;
  border: 1px solid #7fa2ff;
  font-size: 14px;
}

text {
  font-family: serif;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  -moz-box-shadow: 5px 5px 5px #999999;
  -webkit-box-shadow: 5px 5px 5px #999999;
  box-shadow: 5px 5px 5px #999999;
}
#mainHeader {
  font-size: 100%;
  overflow: hidden;
  white-space: nowrap;
}
#pulldown {
  display: none;
  font-size: 80%;
}
#pulldown_padder {
  padding: 10px;
}
#pulldown div + div {
  margin-top: 10px;
}
#auth_button {
  float: right;
}

path {
  pointer-events: none;
}

.span text {
  font-size: 65%;
  text-anchor: middle;
  font-family: sans-serif;
  pointer-events: none;
}

.span rect {
  stroke: black;
  stroke-width: 0.75;
}

.span rect.False_positive {
  stroke: #ff0000;
  stroke-width: 2;
}
#infopopup.info_False_positive {
  background-color: #ff7777;
}

.span rect.False_negative {
  stroke: #ff0000;
  fill: #ffffff;
  stroke-width: 2;
}

.shadow_AnnotationError {
  fill: #ff0000;
}
.span rect.AnnotationError {
  stroke-width: 1;
}
#infopopup.info_AnnotationError {
  background-color: #ff7777;
}

.shadow_AnnotationWarning {
  fill: #ff8800;
}
.span rect.AnnotationWarning {
  stroke-width: 1;
}
#infopopup.info_AnnotationWarning {
  background-color: #ff9900;
}

.shadow_AnnotationIncomplete {
  fill: #aaaaaa;
}
.span rect.AnnotationIncomplete {
  stroke: #002200;
  stroke-width: 0.5;
  fill: #ffffff;
}
#infopopup.info_AnnotationIncomplete {
  background-color: #ffff77;
}

.shadow_AnnotationUnconfirmed {
  fill: #eeeeee;
}
.span rect.AnnotationUnconfirmed {
  stroke: #002200;
  stroke-width: 0.5;
  opacity : 0.5;
}
#infopopup.info_AnnotationUnconfirmed {
  background-color: #ddddff;
}

.span rect.True_positive {
  /* stroke: #007700; */
}

rect.shadow_EditHighlight {
  fill: #ffff99;
  stroke: #dddd66;
}
.shadow_EditHighlight_arc {
  stroke: #ffff99;
}

.span path {
  fill: none;
  stroke: grey;
}

.span path.negation {
  stroke: black;
  opacity: 0.5;
}

.arcs path {
  fill: none;
  opacity: 0.5;
}

.arcs .highlight path {
  stroke-width: 1.5;
  opacity: 1;
}
.arcs .highlight text {
  stroke: black;
  fill: black;
  stroke-width: 0.5;
}
.span.highlight rect {
  stroke-width: 2px;
}

.arcs text {
  text-anchor: middle;
  font-size: 70%;
  dominant-baseline: central;
  cursor: default;
}

.background0 {
  stroke: none;
  fill: #ffffff;
}

.background1 {
  stroke: none;
  fill: #eeeeee;
}

.backgroundHighlight {
  stroke: none;
  fill: #ffff99;
}

.background_entity {
  fill: #7fa2ff;
  opacity: 0.25;
}

.background_trigger {
  fill: #7fd67f;
  opacity: 0.25;
}

.sentnum text {
  fill: #999999;
  text-anchor: end;
}

.sentnum path {
  stroke: #999999;
  stroke-width: 1px;
}

.span_default {
  fill: #7fe67f;
}

.span_Exp { fill:#ff0000; }

.span_gene-or-gene-product    { fill: #7fa2ff; }
.span_Protein                 { fill: #7fa2ff; }
.span_Protein_family_or_group { fill: #7fa2ff; }
.span_Protein_complex         { fill: #7fa2ff; }
.span_Protein_molecule        { fill: #7fa2ff; }
.span_RNA_molecule            { fill: #7fa2ff; }
.span_DNA_molecule            { fill: #7fa2ff; }
.span_DNA_family_or_group     { fill: #7fa2ff; }

.span_Chemical                { fill: #8fcfff; }
.span_Carbohydrate            { fill: #8fcfff; }
.span_Drug_or_compound        { fill: #8fcfff; }
.span_Other_pharmaceutical_agent { fill: #8fcfff; }

.span_Gene_or_gene_product    { fill: #7fa2ff; }

.span_Lipid {
  fill: #9fc2ff;
}

.span_Cell_natural            { fill: #cf9fff; }
.span_Cell_cultured           { fill: #cf9fff; }
.span_Virus                   { fill: #cf9fff; }
.span_Organism                { fill: #cf9fff; }
.span_Tissue                  { fill: #cf9fff; }
.span_Cell_type               { fill: #cf9fff; }

.span_Organic_compound_other  { fill: #9fc2ff; }

.span_Positive_regulation     { fill: #e0ff00; }
.span_Catalysis               { fill: #e0ff00; }
.span_Regulation              { fill: #ffff00; }
.span_Negative_regulation     { fill: #ffe000; }

.span_Deacetylation     { fill: #18c59a; }
.span_Deglycosylation   { fill: #18c59a; }
.span_Dehydroxylation   { fill: #18c59a; }
.span_Demethylation     { fill: #18c59a; }
.span_Dephosphorylation { fill: #18c59a; }
.span_Deubiquitination  { fill: #18c59a; }
.span_DNA_demethylation { fill: #18c59a; }
.span_Deacylation       { fill: #18c59a; }
.span_Dealkylation      { fill: #18c59a; }
.span_Depalmitoylation  { fill: #18c59a; }
.span_Delipidation      { fill: #18c59a; }
.span_Deprenylation     { fill: #18c59a; }
.span_Deneddylation     { fill: #18c59a; }
.span_Desumoylation     { fill: #18c59a; }

.span_Process           { fill: #9fe67f; }

.fill_scatter           { fill: #ff0000; }
.stroke_scatter         { stroke: #ff0000; }
.fill_coref             { fill: #ff0000; }
.stroke_coref           { stroke: #ff0000; }
.fill_Coref             { fill: #ff0000; }
.stroke_Coref           { stroke: #ff0000; }
.fill_Protein-Component { fill: #ff0000; }
.stroke_Protein-Component { stroke: #ff0000; }

.span_Entity                   { fill: #b4c8ff; }
.span_DNA_domain_or_region     { fill: #b4c8ff; }
.span_Protein_domain_or_region { fill: #b4c8ff; }
.span_Amino_acid_monomer       { fill: #b4c8ff; }
.span_Polynucleotide           { fill: #b4c8ff; }

.span_Two-component-system     { fill: #9999ff; }
.span_Regulon-operon           { fill: #9999ff; }

.span_Experimental_method { fill: #ffff00; }

.span_Other        { fill: #ff0000; }
.span_UNCLASSIFIED { fill: #ff0000; }

.fill_theme    { fill:   #000000; }
.stroke_theme  { stroke: #000000; }
.fill_Theme    { fill:   #000000; }
.stroke_Theme  { stroke: #000000; }
.fill_Theme1   { fill:   #000000; }
.stroke_Theme1 { stroke: #000000; }
.fill_Theme2   { fill:   #000000; }
.stroke_Theme2 { stroke: #000000; }
.fill_Theme3   { fill:   #000000; }
.stroke_Theme3 { stroke: #000000; }
.fill_Theme4   { fill:   #000000; }
.stroke_Theme4 { stroke: #000000; }

.fill_Participant   { fill:   #000000; }
.stroke_Participant { stroke: #000000; }

.fill_cause    { fill:   #007700; }
.stroke_cause  { stroke: #007700; }
.fill_Cause    { fill:   #007700; }
.stroke_Cause  { stroke: #007700; }
.fill_Cause1   { fill:   #007700; }
.stroke_Cause1 { stroke: #007700; }
.fill_Cause2   { fill:   #007700; }
.stroke_Cause2 { stroke: #007700; }
.fill_Cause3   { fill:   #007700; }
.stroke_Cause3 { stroke: #007700; }
.fill_Cause4   { fill:   #007700; }
.stroke_Cause4 { stroke: #007700; }

.fill_Site     { fill:   #0000aa; }
.stroke_Site   { stroke: #0000aa; }
.fill_Site1    { fill:   #0000aa; }
.stroke_Site1  { stroke: #0000aa; }
.fill_Site2    { fill:   #0000aa; }
.stroke_Site2  { stroke: #0000aa; }
.fill_Site3    { fill:   #0000aa; }
.stroke_Site3  { stroke: #0000aa; }
.fill_Site4    { fill:   #0000aa; }
.stroke_Site4  { stroke: #0000aa; }

.fill_CSite    { fill:   #0000aa; }
.stroke_CSite  { stroke: #0000aa; }

.fill_ToLoc    { fill:   #0000cc; }
.stroke_ToLoc  { stroke: #0000cc; }

.fill_AtLoc    { fill:   #0000cc; }
.stroke_AtLoc  { stroke: #0000cc; }

.fill_Contextgene   { fill: #303030; }
.stroke_Contextgene { stroke: #303030; }

.fill_Sidechain {
  fill: #303030;
}
.stroke_Sidechain {
  stroke: #303030;
}

.fill_Equiv {
  fill: black; /* TODO */
}
.stroke_Equiv {
  stroke: black; /* TODO */
}

.drag_stroke {
  stroke: black;
}
.drag_fill {
  fill: black;
}


.dialog {
  display: none;
}
#span_free_div, #arc_free_div {
  float: left;
}
fieldset {
  border: 1px solid #999999;
}
.accesskey {
  text-decoration: underline;
}


.shadow {
  -moz-box-shadow: 5px 5px 5px #444444;
  -webkit-box-shadow: 5px 5px 5px #444444;
  box-shadow: 5px 5px 5px #444444;
}

#span_selected, #arc_origin, #arc_target {
  font-weight: bold;
}

#messages {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
#messages > div {
  padding: 10px;
  border: 1px outset #000000;
}

#messages > div.error {
  background-color: #ff6666;
  color: #000000;
}
#messages > div.warning {
  background-color: #ff8800;
  color: #000000;
}
#messages > div.info {
  background-color: #66ff66;
  color: #000000;
}
#messages > div.debug {
  background-color: #ffff99;
  color: #000000;
}

#messages > div > input {
  float: right;
  display: block;
}

#infopopup {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.9;
  padding: 10px;
  display: none;
  border: 1px outset #000000;
  background-color: #eeeeee;
  color: #000000;
  z-index: 20;
  -moz-box-shadow: 5px 5px 5px #aaaaaa;
  -webkit-box-shadow: 5px 5px 5px #aaaaaa;
  box-shadow: 5px 5px 5px #aaaaaa;
}

.info_id {
  font-weight: bold;
}
.info_type {
  font-weight: bold;
}
.info_arc {
  font-weight: bold;
}

#span_form .collapser {
    float: left;
    height: 16px;
    width: 16px;
    margin-top: 3px;
    cursor: hand;
    background: url('expand_icon.gif') no-repeat;
}
#span_form .collapser.open {
    background: url('collapse_icon.gif') no-repeat;
}
#span_form .collapsible.open {
    display: block;
}
#span_form .collapsible {
    display: none;
}
#span_form .item_content {
    margin-left: 16px;
}
#span_form .collapsible {
    margin-left: 20px;
}
.type_scroller {
    overflow-y: scroll;
    min-height: 50px;
    max-height: 300px;
}

#span_highlight_link, #arc_highlight_link {
  float: right;
}
#document_ctime, #document_mtime {
  padding: 0 2px;
  REMOVEbackground-color: #dddddd;
  REMOVEborder: 1px solid #999999;
  opacity: 0.5;
  float: right;
}
#menu_explanation, #document_name {
  margin-left: 10px;
  display: inline-block;
  overflow: hidden;
}

/*
#logo {
  float:right;
  margin-left: 20px;
  background-color: #ffffff;
  padding: 0 0 0 2px;
}
*/

.logo {
  font-family: 'Astloch', serif;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
  letter-spacing: 0em;
  word-spacing: 0em;
  line-height: 1.2;
  
  font-weight: bold;
}

#mainlogo {
  float: right;
  cursor: pointer;
  text-shadow: #000000 0 0 3px;
  padding: 0 10px 0 20px;
}

#aboutlogo {
  font-size: 42px;
  text-align: center;
  text-shadow: #888888 0 0 10px;
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

#copyright {
  margin-top: 10px;
  font-size: 60%;
}

#logo:hover {
  opacity: 0.8;
}

#spinner {
  display: none;
  position: fixed;
  right:10px;
  top: 55px;
}

#document_select {
  height: 200px;
  display: inline-block;
  border: 2px inset;
  background-color: #ffffff;
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
  overflow: scroll;
}
#document_select thead tr * {
  padding: 2px 5px;
}
#document_select tbody tr * {
  padding: 0 5px;
}
#document_select tr {
  cursor: pointer;
}
#document_select tr * {
  white-space: nowrap;
}
#document_select tr.selected {
  background-color: #cccccc;
}
#file_browser th {
  font-weight: normal;
  text-align: left;
}
#import_text {
  font-family: inherit;
}
#import_title {
  width: 400px;
}
#export_page div {
  margin: 5px 5px 5px 5px;
  font-size: 14px;
}
#export_page table {
  border-collapse: collapse;
  border: 1px solid #cccccc;
}
#export_page td, #export_page th {
  padding: 2px 5px;
  text-align: left;
}
#export_page tr.background0 {
  background-color: #eeeeee;
}
#export_page tr.background1 {
  background-color: #dddddd;
}
.ui-icon-gripsmall-diagonal-se {
  margin: 0 -3px -3px 0;
}

.file {
  color: #333366;
}
.dir {
  color: #336633;
}
.rightalign {
  text-align: right;
}

.dialog .borderless {
  outline: 0;
  border: 0;
  width: 100%;
}

#waiter {
  text-align: center;
}
#waiter img {
  margin-top: 25px;
}
.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -o-user-select: none;
   user-select: none;
   cursor: default;
}
